public
.cache
node_modules
*DS_Store
*.env
data/endpoints.json
data/webhooks.json

.idea/

# Secrets
secret.auto.tfvars
*.pfx

# Visual Studio
.vs

# coverage
coverage

# ignore Draw.io temp files
*.bkp