<?xml version="1.0"?>
<configuration>
  <system.webServer>
    <staticContent>
        <remove fileExtension=".json" />
        <mimeMap fileExtension=".json" mimeType="application/json" />

        <remove fileExtension=".woff2" />
        <mimeMap fileExtension=".woff2" mimeType="application/font-woff2" />

        <remove fileExtension=".eot" />
        <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />

        <remove fileExtension=".ttf" />
        <mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />

        <remove fileExtension=".svg" />
        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />

        <remove fileExtension=".woff" />
        <mimeMap fileExtension=".woff" mimeType="application/font-woff" />

        <remove fileExtension=".otf" />
        <mimeMap fileExtension=".otf" mimeType="font/opentype" />

        <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        <mimeMap fileExtension=".webp" mimeType="image/webp" />

        <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>
    <defaultDocument enabled="true">
      <files>
          <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom" defaultResponseMode="File">
        <clear />
        <error statusCode="404" path="404.html"/>
    </httpErrors>
    <rewrite>
      <rules>
        <rule name="home" stopProcessing="true">
          <match url="^$" ignoreCase="true" />
          <action type="Redirect" url="docs/introduction" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
          <staticTypes>
              <add mimeType="text/*" enabled="true" />
              <add mimeType="application/json" enabled="true" />
              <add mimeType="application/x-javascript" enabled="true" />
              <add mimeType="application/atom+xml" enabled="true" />
              <add mimeType="application/xaml+xml" enabled="true" />
              <add mimeType="*/*" enabled="false" />
              <add mimeType="image/svg+xml" enabled="true" />
              <add mimeType="font/*" enabled="true" />
              <add mimeType="application/x-font-ttf" enabled="true" />
              <add mimeType="application/octet-stream" enabled="true" />
          </staticTypes>
          <dynamicTypes>
              <add mimeType="text/*" enabled="true" />
              <add mimeType="application/json" enabled="true" />
              <add mimeType="application/x-javascript" enabled="true" />
              <add mimeType="*/*" enabled="false" />
              <add mimeType="image/svg+xml" enabled="true" />
              <add mimeType="font/*" enabled="true" />
              <add mimeType="application/x-font-ttf" enabled="true" />
              <add mimeType="application/octet-stream" enabled="true" />
          </dynamicTypes>
      </httpCompression>
  </system.webServer>
</configuration>
