@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-display: swap;
}

*:before,
*:after {
  box-sizing: inherit;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #c2c2c2;
}

:-ms-input-placeholder {
  /* Internet Explorer */
  color: #c2c2c2;
}

::placeholder {
  color: #c2c2c2;
}

html,
body {
  font-family: arial, sans-serif;
  font-size: 16px;
}

/* general styles */
p {
  /* Fallback */
  color: #454b6c;
}

a {
  transition: color 0.15s;
  color: #000000;
}

a:hover {
  color: #259098;
}

pre {
  border: 0 !important;
  border-radius: 5px;
  background-color: rgb(245, 247, 249); /* !important; */
}

a {
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.displayInline {
  display: inline-block;
}

/* header */
.header {
  @media (min-width: 768px) {
    display: flex;
    min-height: 60px;
  }
}

.searchbar-desktop {
  flex-grow: 1;
}

.navbar {
  display: none;
}
.diffNewLine {
  color: #22863a;
  background-color: #f0fff4;
}

.diffRemoveLine {
  color: red;
  background-color: #ffcccc;
}
.navBarParent {
  width: 100%;
  float: left;
  display: flex;
  align-items: center;
}
.divider {
  height: 30px;
  margin: 0 15px;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff !important;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  background-color: #542683;
}

/* form-stuff */
.formElement {
  background-color: transparent;
  padding: 4px;
  /* border-radius: 4px; */
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.formElement:focus {
  outline: none;
  border: none;
}
.formElement svg path {
  fill: #fff;
}
.headerTitle {
  height: auto;
  font-size: 28px;
  line-height: 1.5;
  font-weight: 500;
  color: #fff !important;
}
.headerTitle a {
  color: #fff;
}

.headerTitle a:hover {
  text-decoration: none;
  opacity: 0.8;
}

/* Header section */
.navBarDefault {
  z-index: 1;
  background-color: #0b214e;

  @media (min-width: 768px) {
    padding: 15px 60px;
  }
}
.navBarHeader {
  display: flex;
  align-items: center;
  padding: 15px;
  min-width: 335px;
  flex: 1;

  @media (min-width: 768px) {
    padding: 0;
  }
}

/* Navbar */
.navBarUL {
  -webkit-overflow-scrolling: touch;
  width: 100%;
}
.navBarUL li {
  list-style-type: none;
}
.navBarUL li a {
  font-family: "Roboto";
  color: #fff !important;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  opacity: 1;
  padding: 10px 15px;
}
.navBarNav {
  display: flex;
  align-items: center;
}
.navBarUL li a img,
.navBarUL li a .shareIcon {
  width: 20px;
}
.navBarUL li a:hover {
  opacity: 0.7;
}

/* sidebar */

.title {
  font-size: 32px;
  line-height: 1.5;
  font-weight: 500;
  border-left: 2px solid rgb(116, 76, 188);
  padding: 0 16px;
  flex: 1;
  margin-top: 0;
  padding-top: 0;
}

/* Image styling */
img {
  max-width: 100%;
}

.pre {
  font-size: 14px;
  margin: 0px;
  padding: 16px;
  overflow: auto;
}

code {
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  font-size: 15px;
  color: #454b6c;
  background-color: #f2f2f2;
  border-radius: 10px;
  padding: 5px 10px;
  white-space: nowrap;
}

@media (max-width: 767px) {
  .hiddenMobile {
    display: none !important;
  }
  .responsive {
    margin-top: 15px;
    position: relative;
    padding-bottom: 20px;
    border-top: 1px solid #fff;
  }
  hr {
    margin-top: 0;
    margin-bottom: 0;
  }
  .navBarParent {
    display: block;
  }
  .separator {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navBarUL {
    display: flex;
    align-items: center;
    margin: 7.5px 0px;
  }
  .navBarUL li {
    height: 37px;
  }
  .navBarUL li a {
    font-size: 14px;
    padding: 10px 15px;
  }

  .mobileView {
    text-align: left !important;
    padding-left: 0 !important;
  }
  .searchWrapper {
    padding: 0px 0;
    padding-top: 20px;
    position: absolute;
    bottom: 0px;
    width: calc(100% - 30px);
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .divider {
    margin: 0 5px;
    height: 20px;
  }
}

/* Workarounds */
@media (max-width: 768px) {
  #faster-payments-and-chaps table {
    display: none;
  }
}
